{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.youtube.com/channel/UCBIKHXbDqLfiMNIRJMhDldQ" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/youtube.png' %}" alt="ícone youtube">
        </a>
        <a href="https://www.instagram.com/markos_alves12?igsh=MmExMHZjZjgxemwz" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Markos Alves</p>
</footer>